n8n/workflows/AlfredNoteHandling.json
{"updatedAt":"2026-05-05T20:27:27.743Z","createdAt":"2026-05-04T11:26:28.706Z","id":"ieGooMfjO95Nx2upz3Rfv","name":"AlfredNoteHandling","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"355cfb8f-c081-802b-b400-c4b2434f5d7e","mode":"list","cachedResultName":"Personal notes","cachedResultUrl":"https://www.notion.so/355cfb8fc081802bb400c4b2434f5d7e"},"simple":false,"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[-176,-64],"id":"bd0e059e-5960-48c5-a03d-8f5b76a72039","name":"Get all Notes","alwaysOutputData":true,"credentials":{"notionApi":{"id":"w7qNgbzQ9iWGhreC","name":"Notion account"}},"onError":"continueErrorOutput"},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"355cfb8f-c081-802b-b400-c4b2434f5d7e","mode":"list","cachedResultName":"Personal notes","cachedResultUrl":"https://www.notion.so/355cfb8fc081802bb400c4b2434f5d7e"},"title":"={{ $json.alfred.args }}","options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[-176,-272],"id":"348da81f-d116-4e0b-b842-1a2cd4c072c9","name":"Create Note","credentials":{"notionApi":{"id":"w7qNgbzQ9iWGhreC","name":"Notion account"}},"onError":"continueErrorOutput"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"686cf9a3-c471-4ab8-a8de-0986c5dd8028","leftValue":"={{ $json.alfred.command }}","rightValue":"^/(note|noteadd)$","operator":{"type":"string","operation":"regex"}}],"combinator":"and"},"renameOutput":true,"outputKey":"note"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"195af21d-9520-4826-a3f6-ce9befefb362","leftValue":"={{ $json.alfred.command }}","rightValue":"/notelist","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"notelist"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-496,-192],"id":"dbdbce47-c119-47f5-bbd4-9fbb07a88902","name":"Note command Switch"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-704,-176],"id":"9434567e-2ab2-420c-8687-83e903c1275c","name":"When Executed by Another Workflow"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.items }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true},"id":"918e7b78-86fa-48a0-9411-757bd34e9c38"}],"combinator":"and"},"renameOutput":true,"outputKey":"Notes"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[256,144],"id":"1d9a782a-779a-4a83-a01e-55474705dd36","name":"Switch"},{"parameters":{"assignments":{"assignments":[{"id":"8e8dc0e8-a2fc-44a1-8dac-1c21193bea70","name":"type","value":"note_success","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[336,-288],"id":"a852d7ce-c5ae-4ed1-9bf4-76dcb39185e5","name":"Set argument for Note Added message"},{"parameters":{"workflowId":{"__rl":true,"value":"4m18tYp6mJT5fFMGH15b5","mode":"list","cachedResultUrl":"/workflow/4m18tYp6mJT5fFMGH15b5","cachedResultName":"MessagesService"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1104,-288],"id":"4348026b-1985-4aff-8b93-fc023ecd88e9","name":"Generate Note Added message"},{"parameters":{"assignments":{"assignments":[{"id":"6df4de13-1f7c-4c78-a8ff-ed68ac82519e","name":"type","value":"command_typo","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-112,352],"id":"7760ccb5-09f3-4515-8094-990693c4f038","name":"Set argument for Command Typo message"},{"parameters":{"workflowId":{"__rl":true,"value":"4m18tYp6mJT5fFMGH15b5","mode":"list","cachedResultUrl":"/workflow/4m18tYp6mJT5fFMGH15b5","cachedResultName":"MessagesService"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1104,560],"id":"d93f57b0-13a3-4fe5-8bd1-3ea543fddebe","name":"Generate Command Typo message","executeOnce":false},{"parameters":{"assignments":{"assignments":[{"id":"eca7064f-0277-4aae-af02-7ed66ccae494","name":"type","value":"internal_error","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[192,-112],"id":"b4c8d9db-8afe-4178-8f34-280a2aa7d1d6","name":"Set argument for Notion Internal Error message"},{"parameters":{"workflowId":{"__rl":true,"value":"4m18tYp6mJT5fFMGH15b5","mode":"list","cachedResultUrl":"/workflow/4m18tYp6mJT5fFMGH15b5","cachedResultName":"MessagesService"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1104,-112],"id":"46d3f638-516a-4848-bb84-9656ac6f382c","name":"Generate Notion Internal Error message"},{"parameters":{"assignments":{"assignments":[{"id":"9899d5bd-464b-47f0-a8a0-46d08c68f98d","name":"type","value":"note_empty","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[608,320],"id":"a779e9b4-802f-44e0-8035-a133751de3b9","name":"Set argument for Notes empty message"},{"parameters":{"assignments":{"assignments":[{"id":"c11a2e10-590d-4f50-a0a6-7d10f820809b","name":"type","value":"note_list","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[464,32],"id":"ed3c4f4e-c9c0-44a3-821d-9beab73d87d3","name":"Set argument for Note List message"},{"parameters":{"workflowId":{"__rl":true,"value":"4m18tYp6mJT5fFMGH15b5","mode":"list","cachedResultUrl":"/workflow/4m18tYp6mJT5fFMGH15b5","cachedResultName":"MessagesService"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[672,32],"id":"438f71ad-d39a-4176-843a-6c29418bc06c","name":"Generate Note List message"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[912,224],"id":"f89505c1-6a6d-4b07-8a4f-813a5aab56c5","name":"Merge"},{"parameters":{"jsCode":"const it = $input.all();\n\nif (!it || it.length === 0 || it.every(item => Object.keys(item.json).length === 0)) {\n  return [{ json: { items: null } }];\n}\n\nconst fmtDate = (iso) => new Date(iso).toLocaleString('en-GB', {\n  day: '2-digit', month: 'short', year: 'numeric',\n  hour: '2-digit', minute: '2-digit'\n});\n\nconst lines = it.map((item) => {\n  const props = item.json.properties;\n\n  const name    = props?.Name?.title?.map(t => t.plain_text).join('') || '—';\n  const tags    = props?.Tags?.multi_select?.map(t => t.name).join(', ') || 'None';\n  const created = props?.Created?.created_time ? fmtDate(props.Created.created_time) : '—';\n  const edited  = props?.['Last edited time']?.last_edited_time ? fmtDate(props['Last edited time'].last_edited_time) : '—';\n  const editor  = props?.['Last edited by']?.last_edited_by?.name || '—';\n\n  return [\n    `📄 *${name}*`,\n    `🏷 Tags: ${tags}`,\n    `📅 Created: ${created}`,\n    `✏️ Last edited: ${edited} by ${editor}`,\n  ].join('\\n');\n});\n\nconst message = \"\\n\\n\" + lines.join('\\n\\n---\\n\\n');\n\nreturn [{ json: { items: message } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[80,144],"id":"20446131-7811-46d5-a658-f8b0875c297a","name":"Code in JavaScript"},{"parameters":{"assignments":{"assignments":[{"id":"d1ddc1d8-fd9c-441d-b505-6a4b6a8cd0cb","name":"success","value":"={{ $json.success }}","type":"boolean"},{"id":"311770c5-447f-4565-ad3f-40888e9f21c7","name":"message","value":"={{ $json.message + $json.items }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1104,224],"id":"d53e3285-589e-4e36-bfc0-3f5ce4d53beb","name":"Output Note List"},{"parameters":{"workflowId":{"__rl":true,"value":"4m18tYp6mJT5fFMGH15b5","mode":"list","cachedResultUrl":"/workflow/4m18tYp6mJT5fFMGH15b5","cachedResultName":"MessagesService"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1104,384],"id":"4f3b1087-4208-433c-a698-3892eb38a13e","name":"Generate Notes empty message"}],"connections":{"Get all Notes":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}],[{"node":"Set argument for Notion Internal Error message","type":"main","index":0}]]},"Create Note":{"main":[[{"node":"Set argument for Note Added message","type":"main","index":0}],[{"node":"Set argument for Notion Internal Error message","type":"main","index":0}]]},"Note command Switch":{"main":[[{"node":"Create Note","type":"main","index":0}],[{"node":"Get all Notes","type":"main","index":0}],[{"node":"Set argument for Command Typo message","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Note command Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Set argument for Note List message","type":"main","index":0},{"node":"Merge","type":"main","index":1}],[{"node":"Set argument for Notes empty message","type":"main","index":0}]]},"Set argument for Note Added message":{"main":[[{"node":"Generate Note Added message","type":"main","index":0}]]},"Generate Note Added message":{"main":[[]]},"Set argument for Command Typo message":{"main":[[{"node":"Generate Command Typo message","type":"main","index":0}]]},"Generate Command Typo message":{"main":[[]]},"Set argument for Notion Internal Error message":{"main":[[{"node":"Generate Notion Internal Error message","type":"main","index":0}]]},"Set argument for Notes empty message":{"main":[[{"node":"Generate Notes empty message","type":"main","index":0}]]},"Set argument for Note List message":{"main":[[{"node":"Generate Note List message","type":"main","index":0}]]},"Generate Note List message":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Output Note List","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"alfred":{"command":"/notelist","args":"","text":"/notelist","chat_id":7170085884,"chat_name":"David","user_id":7170085884,"user_display_name":"David","user_handle":null}}}]},"versionId":"3db94f1f-05c6-48c0-bfd7-6cde687ed9fe","activeVersionId":"3db94f1f-05c6-48c0-bfd7-6cde687ed9fe","versionCounter":375,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-05-04T11:26:28.709Z","createdAt":"2026-05-04T11:26:28.709Z","role":"workflow:owner","workflowId":"ieGooMfjO95Nx2upz3Rfv","projectId":"e8O4zN9X6fOfPKr3","project":{"updatedAt":"2026-02-02T01:07:08.778Z","createdAt":"2026-02-02T01:05:48.713Z","id":"e8O4zN9X6fOfPKr3","name":"David Ferreira <david.brto@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"42a699b4-f94a-4811-adcd-5cbbc5ee5e27"}}]}